.DS_Store
/nbproject/private/
/vendor/
/programa/nbproject/private/
programa/Dump20170929.sql
programa/Dump20171017.sql
programa/Dump20171213.sql
programa/Dump20171215.sql
programa/index.html
programa/info.php
programa/phpinfo.php