/*!
    INDEX 
   ========================================================================== */
/* BORRAR */
/* NETEJAR 

/* TEXT

/*TABLES*/

/* FORM
/*checkboxes*/
/*radios*/

 /*BTN */

/* SPACING

/* SECTIONS
/*nav*/
/*summary*/
/*ranking*/

/* ELEMENTS*/
/*title*/
/*examples*/
/*tooltip overwrites*/
/*message*/
/*lists*/
/*clock*/
/*alert*/
/*video*/

/* OTHER*/

/* RESPONSIVE*/


html{
  font-size: calc(.875em + 0.25 * (100vw - 80em) / 40); /* 1.075em = 17px */
  /*font-size: -webkit-calc(107,5% + 0.25 * (100vw - 8000%) / 40);  /* per Safari */
  /*font-size: 13px;*/
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Quicksand', 'Helvetica Neue', Arial, sans-serif;
  background: url(../img/band.jpg) no-repeat center top scroll; 
  background-color: #e3e3e3;
}
.home{
  background: url(../img/bg.jpg) repeat left bottom fixed;
  background-size: cover;
}

section {
}
aside {
}
header {
  background-color: #2b2b2b;
  color: white;
  text-transform: uppercase;
}
.home header{
  background-color: transparent;
}
header .header-content {
}
footer {
}
button{
  cursor: pointer;
}

/* TEXT */
/* NETEJAR */
i{
  font-weight: 200;
}
p {
/*  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
*/}

hr {
  border-color: #83A521;
  max-width: 50px;
}

.fw100{
  font-weight: 100;
}
.green {
  color: #6E8C1A;
}
/*
.darkgreen {
  color: #8DAD30;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
*/

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
/*.fwl, b{
  font-weight: 300;
}*/

/* END NETEJAR */

.fs12{
  font-size: 0.75rem;
}
.fs14{
  font-size: 0.875rem;
}
.fs16{
  font-size: 1rem;
}
.fs22{
  font-size: 1.375rem; /*22px*/
}
.fs26{
  font-size: 1.45rem; /*26.1px*/
}
.fs32{
  font-size: 2rem; 
}
blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    padding: 0.25rem 40px;
    position: relative;
}
 

blockquote:before, blockquote:after {
  font-size: 80px;
  position: absolute;
}

blockquote:before {
  content: "\201C";
  left: -10px;
  top: -30px;
}
blockquote:after {
  content: "\201D";
  right: 20px;
  top: 30px;
}

/*TABLES*/
th {
  font-weight: 500;
  text-align: center;
}
.modal .table td, .modal .table th{
  vertical-align: inherit;
  border: 3px solid #fff;
}
.modal .table-striped tbody td:nth-of-type(odd) {
  background-color: rgba(0,0,0,.08);
}
.modal .table-striped tbody tr:nth-of-type(odd) {
  background-color: white !important;
}
td.fs32{
  padding: 0;
}
.table td, .table th {
  vertical-align: middle;
}

.bikles_table{
  max-height: 50px;
  margin: -0.7em;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .reduced.table{
    font-size: 0.8em;
  }
  .reduced.table td, .reduced.table th{
    padding-top: .2em;
    padding-bottom: .2em;
  }
  .reduced.table .custom-control.custom-checkbox{
    margin: 0 -0.2em;
    padding-left: 0.8em;
  }
  .reduced.table .custom-checkbox .custom-control-indicator {
    top: 4px;
  }
}

/* FORM */

.form-control{
  font-weight: 300;
  /* color: #CCC !important; */
}

.form-control:focus {
  border-color: lightgreen;
}
/*checkboxes & radios*/
.custom-control-input:checked~.custom-control-indicator {
  background-color: #83A521;
}
.custom-control-input:active~.custom-control-indicator {
  color: #fff;
  background-color: lightgreen;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 3px lightgreen;
  box-shadow: 0 0 0 1px #fff,0 0 0 3px lightgreen;
}

.custom-select{  
  /*margin-top: -0.9rem;*/
}
/*checkboxes*/
/*x fer que el tick surti del cuadrat https://codepen.io/visualiaBCN/pen/JyrENK*/
.custom-checkbox .custom-control-indicator {
  top: 2px;
}
.top6 .custom-checkbox .custom-control-indicator {
  /* top: 0px; */
  left: -8px;
}
.custom-control{
  cursor: pointer;
  padding-left: 0;
  /*margin-right: 0;*/
}
.custom-control-indicator{
  position: relative;
  width: 1rem;
  height: 1rem;
  left: -0.6em;
  background-color: #ebfa94;
  border-radius: .4rem;
}
.custom-control.custom-checkbox{
  /* padding-left: 0; */
  margin-right: -1em;
}

/*radios*/
.custom-radio .custom-control-input:checked~.custom-control-indicator {
   background-image: none; 
}
.custom-radio .custom-control-indicator{
  margin-top: -0.075rem;
  margin-right: 0.375rem;
}
.custom-control.custom-radio {
  top: 3px;
}
.mr-1 .custom-control.custom-radio{
  margin-right: 1rem;
}
.mr-1 .custom-radio .custom-control-indicator{
  margin-right: 0.375rem;
}
.striped{
  padding: 0.2rem 0.8rem;
}
.striped:nth-of-type(odd){
  background-color: rgba(0,0,0,.05);
}

/* BTN */
/* NETEJAR */
a, .btn {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a,
a:hover,
a:focus {
  color: #83A521;
}
.btn{
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn.focus,
.btn:active,
.btn.active
{
}
/* END NETEJAR */
.btn-primary {
  color: #9eb80d;
  background-color: #fff;
  border-color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #83A521;;
  border-color: white !important;
  color: white;  
}
.btn-red{
  background-color: #B5422B;
  color: white;
  padding: 0.2rem 0.35rem;
  font-size: 0.8rem;  
}
.btn-red:hover,
.btn-red:focus,
.btn-red.focus,
.btn-red:active,
.btn-red.active {
  background-color: #B40000;
}
.btn-green{
  background-color: #A1C41F;
  color: white;
  padding: 0.2rem 0.35rem;
  font-size: 0.8rem; 
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active {
  background-color: #C1E529;
}
.grey_link, .grey_link:hover, .grey_link:focus, .grey_link:active{
  color: #666;
}
.black_link, .black_link:hover, .black_link:focus, .black_link:active{
  color: #2b2b2b;
}
a[data-toggle^="modal"].grey_link:hover{
  text-decoration: none;
}
a[data-toggle^="modal"].grey_link:hover div{
  text-decoration: underline;
}
a[data-toggle^="modal"].grey_link:hover i{
  color: #2b2b2b;
}

.navbar-toggler{
  color: #fff;
  cursor: pointer;
}

/* NETEJAR */

/* SPACING */
main{/* height: 980px; *//* overflow: auto; */}/* BORRAR */
.w30{width: 32%}
.mb-10{
  margin-bottom: 6rem !important;
}
.px-10{
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.py-20{
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}
/*padding z vol dir top, right i left, el bottom l'hi he afegit per ajustar*/
.pz-4{
  padding: .75rem .75rem 0.25rem .75rem !important;/*1.5rem 1.5rem 0.5rem 1.5rem !important;*/
}
.mx-10neg {
  margin-left: -3rem !important;
  margin-right: -3rem !important;
}


/* SECTIONS */

/*nav*/

#mainNav li a {
  text-decoration: none;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

#mainNav li a:hover {
  font-size: 1.2rem;
}
.navbar-collapse.bg-colors{
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.5);
}
.bg-colors li{
  padding: .9rem;
  /*border-bottom: .2rem solid #2b2b2b;*/
  box-shadow: inset 0 3px 6px -4px rgba(43, 43, 43, 0.5);
}
.bg-colors li .fa-lg {
  /*line-height: 1;*/
}
.bg-colors li:nth-child(1){
  background-color: #ebfa94;
}
.bg-colors li:nth-child(2){
  background-color: #f2e500;
}
.bg-colors li:nth-child(3){
  background-color: #d1d600;
}
.bg-colors li:nth-child(4){
  background-color: #a1c41f;
}
.bg-colors li:nth-child(5){
  background-color: #55ac2c;
}
.bg-colors li:nth-child(6){
  background-color: #0a9438;
}
.bg-colors li:nth-child(7){
  background-color: #107a30;
}
.bg-colors li:nth-child(8){
  background-color: #1a4a21;
}
.bg-colors li a{
  color: #2b2b2b !important;
}
.bg-colors li:nth-child(8) a{
  color: white !important;
}



/*summary*/
.t5_p{
  border: 3px solid #83A521;
  font-weight: 400;
}
.t5_qw{
  border: 3px solid white;
}
.t5_qw h4{
  font-weight: 100;
}
.progressa{
  background-color: #eee;
}
.progressa .mb-0{
  /*color: #666;*/
  color: #000;
  white-space: nowrap;
}
.progress-bar{
  padding: .375rem .625rem;
  height: initial;
}
.card-block {
  padding: 0.5rem 1rem 0px 1rem;
}

/*ranking*/
.first, .second, .third{position: absolute;bottom: 1em;text-transform: uppercase;width: 180px;  text-align: center;}
.first{
  right: 8px;
}
.second{
  left: 225px;
}
.third{
  left: 5px;
}

/* ELEMENTS

/*title*/
.title_wrap{
  border-top: 0.5rem solid #b0b0b0;
  margin-bottom: 2rem;
}
.title{
  background-color: #b0b0b0;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
}
.title_band{
  background-color: #706f6f;
  color: white;
  text-transform: uppercase;
}
.title_alt{
  background-color: #706f6f;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}
.title_first{
  background-color: #E3E3E3;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.45rem;
}
.title_black{
  /*font-size: 1.45rem;*/
}

.h_green {
  color: #83A521;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
}
.modal-title{
  color: #83A521;
  font-weight: bold;
  text-transform: uppercase;
}

/*examples*/
.example_ic{
  color: gray;
}
.example_wrapper {
  position: relative;
}
.example_inner {
  background: #fff;
}
.example_inner:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  left: 8px;
  top: 8px;
}  
.modal .example_inner {
  background: #ebfa94;
}

.modal .example_inner:before {
  border-right: 8px solid #ebfa94;
}
.modal-header{
  border: none;
}

/*modal-lg overwrite*/
.modal-lg {
  max-width: 80vw;
}

/*tooltip overwrites*/
.tooltip{ 
  font-family: inherit;
  font-weight: inherit;
}

.tooltip-inner{
  border-radius: 0;
  background: #fff;
  color: #666;
}
.tooltip-inner::before, .tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before{
  border-top-color: #fff !important;
}
/*message*/
.message.success{
  background-color: #E3E3E3;
  text-transform: uppercase;
  margin: 0;
}
/*lists*/

ul, ol{
  list-style: none;
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-start: 0;
  /*padding: 0;*/
}

/*ul.circle {
  -webkit-padding-start: 1.25rem;
  padding-start: 1.25rem;
}
ul.circle > li {
  list-style-type: circle;
}*/

ul:not(.unstyled) > li {
  padding-left: 1.5em;
  position: relative;
}
ul:not(.unstyled) > li:before, ol > li:before {
  position: absolute;
  display: inline-block;
  content: '';
  /*line-height: 1.25rem;*/
}

ul:not(.nav) > li:before {
  left: 0.3em;
  top: 0.35em;
  width: 0.7em;
  height: 0.7em;
  border: .15em solid #83A521;
  border-radius: 50%;

}
.list-numbered, ol {
  list-style: none;
  counter-reset: line;
}

.list-numbered > li, ol > li {
  padding-left: 2em;
  position: relative;
}
.list-numbered > li:before, ol > li:before {
  left: -0.1em;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #a3ba45;
  border-radius: 50%;
  color: #fff;
  text-align:center;
  line-height: 1.25rem;
  counter-increment: line;
  content: counter(line);
  top: .05rem;
}

.list-numbered > li, ol > li {
  margin-bottom: 1.5rem;
}

.list-green > li{
  border-bottom: 1px solid #a1c41f;
  color: #1a4a21;
}
.list-green > li:nth-child(odd){
  color: #33a358;
}

/*clock*/
.clock-b{
  font-size: 4rem;
  font-weight: bold;
}
.clock-a{    
  font-size: 2.1rem;
  font-weight: bold;
}
.clock-c{    
  font-size: 1.4rem;
  font-weight: bold;
}
/*alert*/
.alert{
  background-color: white;
  border-color: lightgray;
}
.alert_bikles{
  background-color: transparent;
  border-color: #83A521;
  /*border-color: a3ba45;*/
}
.alert_bikles img{max-height: 40px; margin-top: -.5rem; margin-bottom: -.5rem;
}
/*video*/
.embed-responsive{
  max-width: calc(32em + 0.25 * (100vw - 80em) / 40);
  margin: 0 auto;
}
.video_solution{
  white-space: pre-line;
}

.video_stop{
    font-weight: bold;
    color:#990000;
}

/* OTHER */
:focus{
  outline: none !important;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: green;
}
::selection {
  color: white;
  text-shadow: none;
  background: green;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

.retos_propios{
    background-color: #ebfa94;
}

.painpoints{
    width:90% ;
    
    display:inline-block;
}
/* ==========================================================================
/* RESPONSIVE
   ========================================================================== */


/* Portrait tablet to landscape and desktop */
@media (max-width: 768px){
}
@media (max-width: 748px){
  .container, #mainNav, main{
    display: none;
  }
}
@media (min-width: 768px) {
}

/* Desktops and laptops ----------- */
@media (min-width: 768px){
  .container, #mainNav, main{
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {
}   





#refrescar{
 position:absolute;
 top:10px;
 left:10px;
 z-index:1000;
}
#addinter,a[id^='addpain'],a[id^='addppcha'],a[id^='delete']{
    color:#83A521 !important;
}
