/*!
    INDEX 
   ========================================================================== */
/* BORRAR */
/* NETEJAR 

/* TEXT

/*TABLES*/

/* FORM
/*checkboxes*/
/*radios*/

 /*BTN */

/* SPACING

/* SECTIONS
/*nav*/
/*summary*/
/*ranking*/

/* ELEMENTS

/*examples*/
/*tooltip overwrites*/

/* OTHER

/* RESPONSIVE
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  background-color: #ECEED7;
  color: #666;
  font-weight: 200;
  font-size: 1.125rem; /*18px rem es relatiu al HTML tag, 16px*/
}

section {
}
aside {
}
header {
}
header .header-content {
}
footer {
}
button{
  cursor: pointer;
}

/* TEXT */
/* NETEJAR */
i{
  font-weight: 200;
}
p {
/*  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
*/}

hr {
  border-color: #83A521;
  max-width: 50px;
}

.fw100{
  font-weight: 100;
}
.green {
  color: #83A521;
}
/*
.darkgreen {
  color: #8DAD30;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
*/

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
/*.fwl, b{
  font-weight: 300;
}*/

/* END NETEJAR */

ul{
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-start: 0;
  padding: 0;
}
.fs12{
  font-size: 0.75rem;
}
.fs14{
  font-size: 0.875rem;
}
.fs16{
  font-size: 1rem;
}
.fs22{
  font-size: 1.375rem; /*22px*/
}
.fs26{
  font-size: 1.45rem; /*26.1px*/
}
.fs32{
  font-size: 2rem; 
}
blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    padding: 0.25rem 40px;
    position: relative;
}
 

blockquote:before, blockquote:after {
  font-size: 80px;
  position: absolute;
}

blockquote:before {
  content: "\201C";
  left: -10px;
  top: -30px;
}
blockquote:after {
  content: "\201D";
  right: 20px;
  top: 30px;
}

/*TABLES*/
th {
  font-weight: 500;
  text-align: center;
}
.table td, .table th{
  vertical-align: inherit;
  border-top: none;
}
td.fs32{
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .reduced.table{
    font-size: 0.8em;
  }
  .reduced.table td, .reduced.table th{
    padding: .2em;
  }
  .reduced.table .custom-control.custom-checkbox{
    margin: 0 -0.2em;
  }
  .reduced.table .custom-checkbox .custom-control-indicator {
    top: 4px;
  }
}

/* FORM */

.form-control{
  font-weight: 300;
  /* color: #CCC !important; */
}

.form-control:focus {
  border-color: lightgreen;
}
/*checkboxes & radios*/
.custom-control-input:checked~.custom-control-indicator {
  background-color: #83A521;
}
.custom-control-input:active~.custom-control-indicator {
  color: #fff;
  background-color: lightgreen;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 3px lightgreen;
  box-shadow: 0 0 0 1px #fff,0 0 0 3px lightgreen;
}

.custom-select{  
  margin-top: -0.9rem;
}
/*checkboxes*/
/*x fer que el tick surti del cuadrat https://codepen.io/visualiaBCN/pen/JyrENK*/
.custom-checkbox .custom-control-indicator {
  top: 2px;
}
.top6 .custom-checkbox .custom-control-indicator {
  /* top: 0px; */
  left: -8px;
}
.custom-control{
  cursor: pointer;
  padding-left: 0;
  margin-right: 0;
}
.custom-control-indicator{
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #D2DEB2;
  border-radius: .4rem;
}
.custom-control.custom-checkbox{
  /* padding-left: 0; */
  margin-right: 0;
}

/*radios*/
.custom-radio .custom-control-input:checked~.custom-control-indicator {
   background-image: none; 
}
.custom-radio .custom-control-indicator{
  margin-top: -0.375rem;
  margin-right: 0;
}
.custom-control.custom-radio{
  margin-right: 0;
}
.mr-1 .custom-control.custom-radio{
  margin-right: 1rem;
}
.mr-1 .custom-radio .custom-control-indicator{
  margin-right: 0.375rem;
}
/* BTN */
/* NETEJAR */
a, .btn {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a,
a:hover,
a:focus {
  color: #83A521;
}
.btn{
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn.focus,
.btn:active,
.btn.active
{
}
/* END NETEJAR */
.btn-primary {
  color: #666;
  background-color: transparent;
  border-color: rgba(0,0,0,0.3);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #83A521;;
  border-color: white !important;
  color: white;  
}

.grey_link, .grey_link:hover, .grey_link:focus, .grey_link:active{
  color: #666;
}
.navbar-toggler{
  color: #83A521;
  cursor: pointer;
}

/* NETEJAR */

/* SPACING */
main{/* height: 980px; *//* overflow: auto; */}/* BORRAR */
.w30{width: 32%}
.mb-10{
  margin-bottom: 6rem !important;
}
.px-10{
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.py-20{
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}
/*padding z vol dir top, right i left, el bottom l'hi he afegit per ajustar*/
.pz-4{
  padding: 1.5rem 1.5rem 0.5rem 1.5rem !important;
}
.mx-10neg {
  margin-left: -3rem !important;
  margin-right: -3rem !important;
}


/* SECTIONS */

/*nav*/

#mainNav li {
  font: 200 1rem/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #83A521;
}

#mainNav li:last-child {
  border: none;
}

#mainNav li a {
  text-decoration: none;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

#mainNav li a:hover {
  font-size: 1.2rem;
  background: #f6f6f6;
}

/*summary*/
.t5_p{
  border: 3px solid #83A521;
  font-weight: 400;
}
.t5_qw{
  border: 3px solid white;
}
.t5_qw h4{
  font-weight: 100;
}
.progressa{
  background-color: #eee;
}
.progressa .mb-0{
  color: #666;
}
.progress-bar{
  padding: .75rem 1.25rem;
  height: initial;
}
.card-block {
  padding: 1rem;
}

/*ranking*/
.first, .second, .third{position: absolute;bottom: 1em;text-transform: uppercase;}
.first{
  right: 2.2rem;
}
.second{
  left: 16rem;
}
.third{
  left: 2.1rem;
}

/* ELEMENTS

/*examples*/
.example_ic{
  color: #FBB03B;
}
.example_wrapper {
  position: relative;
}
.example_inner {
  background: #fff;
  border: 0.1em solid #FBB03B;
}
.example_inner:before, .example_inner:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 0.5em solid #fff;
  left: -0.45em;
  top: 0.5em;
}  
.example_inner:before {
  border-right-color: #FBB03B;
  left: -0.5em;
}
@media (min-width: 992px) {
  /*modal-lg overwrite*/
  .modal-lg {
    max-width: 80vw;
  }
}
/*tooltip overwrites*/
.tooltip{ 
  font-family: inherit;
  font-weight: inherit;
}

.tooltip-inner{
  border-radius: 0;
  background: #fff;
  color: #666;
}
.tooltip-inner::before{
  border-top-color: #fff !important;
}

/* OTHER */

::-moz-selection {
  color: white;
  text-shadow: none;
  background: green;
}
::selection {
  color: white;
  text-shadow: none;
  background: green;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

.retos_propios{
    background-color: #d1e6ce;
}

.painpoints{
    width:90% ;
    
    display:inline-block;
}
/* ==========================================================================
/* RESPONSIVE
   ========================================================================== */


/* Portrait tablet to landscape and desktop */
@media (max-width: 992px){
  .phone{
    display: block;
  }
  .container-fluid, #mainNav{
    display: none;
  }
}
@media (min-width: 768px) {
}

/* Desktops and laptops ----------- */
@media (min-width: 992px){
  .phone{
    display: none;
  }
  .container-fluid, #mainNav{
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {
}   

.video{
    white-space: pre-line;
    text-align: center;
}

.video_stop{
    font-weight: bold;
    color:#990000;
}



